<main class="landing">
    <div class="container-flex">
        <div class="landing__left column">
        </div>
        <div class="landing__center column">
            <div class="landing__slogan">
                We store stories.
            </div>
            <div class="landing__signupin">
                <div class="button" (click)="signUp($event)">sign up</div>
                <div class="button" (click)="signIn($event)">sign in</div>
            </div>
        </div>
        <div class="landing__right column">
            <img class="landing__robot" src="../../../assets/images/robot.png" />
        </div>
    </div>
</main>