.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.landing {
  .landing__slogan {
    margin-top: 50px;
    text-align: left;
    font-size: 5em;
    font-weight: bold;
  }
  .landing__signupin {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .button {
      background-color: white;
      border-radius: 5px;
      width: 45%;
      height: 35px;
      line-height: 35px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .landing__left {
    width: 35%
  }
  .landing__center {
    width: 30%
  }
  .landing__right {
    width: 35%;
    text-align: center;
  }
  .landing__robot {
    height: 400px;
  }
}